.text-gradient {
	background: linear-gradient(240deg, #ffffff, #0046c4);
	background-size: 250% 250%;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	-webkit-animation: text-gradient 3s ease infinite;
	-moz-animation: text-gradient 3s ease infinite;
	animation: text-gradient 3s ease infinite, text-glow 2.5s ease infinite;
}


@keyframes text-glow {

	0%,
	100% {
		text-shadow: 0 0 25px rgba(91, 126, 190, 0.671);
	}

	50% {
		text-shadow: 0 0 50px rgba(91, 126, 190, 0.671);
	}
}

@-webkit-keyframes text-gradient {
	0% {
		background-position: 78% 0%
	}

	50% {
		background-position: 23% 100%
	}

	100% {
		background-position: 78% 0%
	}
}

@-moz-keyframes text-gradient {
	0% {
		background-position: 78% 0%
	}

	50% {
		background-position: 23% 100%
	}

	100% {
		background-position: 78% 0%
	}
}

@keyframes text-gradient {
	0% {
		background-position: 78% 0%
	}

	50% {
		background-position: 23% 100%
	}

	100% {
		background-position: 78% 0%
	}
}